# Data Science Tools and Ecosystem!

#### In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>

* This notebook covers Popular languages such as Python,R,SQL which is used in DataScience
* Popular libraries by datascientists like pandas,numpy,matplotlib also for R - ggplot,dplyr
* The tools that are popular amongst the communities jupyterlabs,R-Studio,MySql.

#### Some of the popular languages that Data Scientists use are:

1.Python

2.R

3.SQL

### Some of the commonly used libraries used by Data Scientists include:

1.Pandas

2.Numpy

3.Matplotlib

4.Sckit-learn

5.TensorFlow

6.Scipy

7.Pytorch

 #### Data Science Tools:
 
 ||
 | --- |
 |Jupyter|
 |R-Studio|
 |MySql|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
 (3*4)+5
    
# This a simple arithmetic expression to mutiply then add integers

17

In [18]:
per_hour=60
mins=200
print(mins/per_hour)
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author : 
Prasad Koli