# Data Science Tools and Ecosystem!

<!-- 2.Create markdown cell with title of the notebook -->

#### In this notebook, Data Science Tools and Ecosystem are summarized.
<!-- Exercise 3 - Create a markdown cell for an introduction -->

<b>Objectives:</b>

* This notebook covers Popular languages such as Python,R,SQL which is used in DataScience
* Popular libraries by datascientists like pandas,numpy,matplotlib also for R - ggplot,dplyr
* The tools that are popular amongst the communities jupyterlabs,R-Studio,MySql.

<!-- Exercise 10 - Insert a markdown cell to list Objectives -->

#### Some of the popular languages that Data Scientists use are:

1.Python

2.R

3.SQL


<!-- Exercise 4 - Create a markdown cell to list data science languages -->

### Some of the commonly used libraries used by Data Scientists include:

1.Pandas

2.Numpy

3.Matplotlib

4.Sckit-learn

5.TensorFlow

6.Scipy

7.Pytorch

<!-- Exercise 5 - Create a markdown cell to list data science libraries -->

 #### Data Science Tools:
 
 ||
 | --- |
 |Jupyter|
 |R-Studio|
 |MySql|
 
<!--  Exercise 6 - Create a markdown cell with a table of Data Science tools -->

### Below are a few examples of evaluating arithmetic expressions in Python



<!-- Exercise 7 - Create a markdown cell introducing arithmetic expression examples -->

In [19]:
 (3*4)+5
    
# This a simple arithmetic expression to mutiply then add integers


# Exercise 8 - Create a code cell to multiply and add numbers

17

In [20]:
per_hour=60
mins=200
print(mins/per_hour)
# This will convert 200 minutes to hours by diving by 60

# Exercise 9 - Create a code cell to convert minutes to hours

3.3333333333333335

## Author : 
Prasad Koli

<!-- Exercise 11 - Create a markdown cell to indicate the Author's name -->